
  <!-- NAV BAR -->
  <div class="navbar navbar-inverse">
      <button id="new-game">New Game</button>
      <!-- <button id="rando-cardrissian">Rando Cardrissian</button> -->
      <div id="header">Cards Against Humanity</div>
  </div>

  <div class="welcome">
      <div class="welcome-wrapper">
          <div id="title">Cards </br>Against</br>Humanity</div> </br>
          <div id="subtitle">A party game for horrible people</div>
          <!-- <div id="instructions">
              <h5>Rules</h5>
              <p id="welcome-list">
              • Card Czar chooses Black Card and reads it aloud.</br></br>
              • Players select best matching card from their deck of random white cards. </br></br>
              • Card Czar picks the funniest play and player is awarded an Awesome Point.</br></br>
              • Highest score wins.</br></br>
              • GAMBLING: Bet one of your Awesome Points by playing an additional white card.</br></br>
              • You should be drinking.  But play anyway.</br></br>
              </p>
        </div> -->

          <div id="start-wrapper">
              <a href="/api/gameroom"><button id="start">Start</button></a>
          </div>


      </div>

  </div>