<div class="game-container">

  <!-- CONTAINER -->
  <div class="container">


      <!--Card Czar-->
      <div class="player-card card-czar">
          <div class="black-cards player-black"> </div>
          <div id="you-are-czar">you are the Card Czar</div>
          <div id="pick-a-card">select a card to be the winner</div>
          <div class="card-container">

          </div>

      </div>

      <!-- Player One -->
      <div class="player-card">
          <div class="player-black"> </div>
          <div class="player-one"></div>


          <!-- GAMBLE -->
          <div id="bottom-wrapper">
              <div class="awesome-score-one"></div>
              <button id="gamble-one">Gamble</button>
          </div>

      </div>

      <!-- Player Two -->
      <div class="player-card">
          <div class="player-black"> </div>
          <div class="player-two"></div>


          <!-- GAMBLE -->
          <div id="bottom-wrapper">
              <div class="awesome-score-two"></div>
              <button id="gamble-two">Gamble</button>
          </div>

      </div>


  </div>
</div>