  <!-- NAV BAR -->
  <div class="navbar">
      <button id="new-game">New Game</button>
      <!-- <button id="rando-cardrissian">Rando Cardrissian</button> -->
      <div id="header">Virus Vices</div>
  </div>


<div class="container">



  <div class="player-card card-czar">
    <!--Card Czar-->
    <div class="black-cards player-black"> </div>
    <div id="you-are-czar">you are the Card Czar</div>
    <div id="pick-a-card">select a card to be the winner</div>


  </div>
  <div class="player-card player-one">
    <div class="player-black">test</div>
    <!-- <div class="awesome-score"></div> -->


  </div>
  <div class="player-card player-two">
    <div class="player-black">test</div>
    <!-- <div class="awesome-score"></div> -->


  </div>
</div>
<h1>test</h1>
